body {
    background: url("../images/errorbg.jpg") no-repeat;
    background-size: 100% 100%;
}

#errorDiv {
    width: 80%;
    margin: 50px auto;
    background: url(../images/error.png)  center no-repeat;
    height: 400px;
}

#errorHint {
    padding-left: 400px;
    padding-top: 130px;
}

#errorInfo,
a,
#leaveTime {
    color: red;
    font-weight: bold;
}

#leaveTime {
    font-size: 20px;
    margin: 0 5px;
}